

<%=form_with(model: @article, local: true, html: {class: "d-flex flex-column"})  do |form|%>
  <%= form.label :title, "Title " %>
  <%= form.text_field :title, placeholder: "Add your Title here..."%>
  <%=form.label :text, "Content " %>
  <%= form.text_area :text, placeholder: "Write your heart out here...",size: "1x10"  %>
  <%= form.label :picture %>
  <%= form.file_field :picture %>
   <div class = "cat-select-container">
      <%= form.label "Category " %>
      <%=link_to(content_tag(:i, nil ,class: "fas fa-plus-circle"), new_category_path, class: "add-cat-btn")%>
    </div>
    <% if @article.categories.empty? %>
        <%= collection_select(:category, :id, @categories, :id, :name, { selected: @categories.first.id } ) unless @categories.blank? %>
     <% else %>
        <%= collection_select(:category, :id, @categories, :id, :name, { selected: @article.categories.first.id } ) %>
     <% end %>
     <%if @categories.blank?%>
      <h3 class= "alert-cat">Please add category</h3>
    <%else%>
      <%= form.submit "Create Article"%>
    <%end%>
<%end%>