<h1>Articles#show</h1>
<div>
<%= image_tag(@article.picture, width: 200)%>
</div>
<div>
<%= @article.author.name%>
</div>
<div>
<%= @article.title%>
</div>
<div>
<%= @article.text%>
</div>
<div>
  <%=link_to(content_tag(:span, 'Vote!'), article_votes_path(article_id: @article.id),
method: :post)%>
</div>




