<div class = "d-flex create-art-container">
  <div class= "full-article-image" style ="background: no-repeat center/cover url('<%= show_picture(@article) %>');">
  <h1></h1>
  </div>
  <div class= "d-flex flex-column article-preview">
      <h2 class="articles-cat-title chivo-bold articles-auto-width font-s-2">
          <%= @article.title%>
      </h2>
      <div class="article-author d-flex a-items-center j-content-between ">
        <div>
          <strong>By <%= @article.author.name%></strong>
            <%=show_vote(@article)%>
          <strong><%= @article.votes_count%></strong>
        </div>
        <div>
          <%=show_edit_icon%>
        </div>
            
      </div>
      <div class="font-s-1-2 article-text">
        <p><%= sanitize @article.text%></p>
      </div>
    </div>
</div>




