
<%=form_with(model: @user, local: true) do |form|%>
<% if @user.errors.any? %>
    <div id="error_explanation" class= "d-flex a-items-center">
      <h2><%= pluralize(@user.errors.count, "error") %> not allowed this user from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.label :name, "Enter your username"%>
  <%= form.text_field :name, placeholder: "Enter your name here..."%>
  <%= form.submit "Register"%>
<%end%>


   
