<!DOCTYPE html>
<html>
  <head>
    <title>Geek's Den</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/17f821a36f.js" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>

  <body class= "d-flex flex-column">
    <nav>
      <div class='nav-container lato-font d-flex j-content-between m-lr-20'>
        <div class = 'nav-home'>
          <%=link_to(image_tag("den.png", size: "125x40", alt: "icon"), root_path, class: "nav-links")%>
        </div>
        <div class="d-flex j-content-around a-items-center nav-right">
          <% if signed_in? %>
              <h3 id="user-name"><%= link_to("#{session[:name]}", user_path(session[:user_id]),class: "nav-links") %></h3>
              <%=link_to("WRITE AN ARTICLE", new_article_path, class: "nav-links")%>
              <%=link_to("LOG OUT", sessions_destroy_path, class: "nav-links")%>
        </div>
          <%else%>
        <div class="d-flex a-items-center j-content-end nav-right">
              <%=link_to("LOG IN | ", sessions_log_in_path, class: "nav-links") %>
              <%=link_to(" REGISTER", new_user_path, class: "nav-links") %>
        </div>
          <%end%>
      </div>
    </nav>
        <% flash.each do |type, msg| %>
          <div class= "notice-messages">
            <%= msg %>
        </div>
    <% end %>
    <main class= "d-flex flex-column">
      <%= yield %>
    </main>
    <footer class='lato-font d-flex j-content-between'>
      <div>
          <%=link_to(image_tag("den.png", size: "125x40", alt: "icon"), root_path, class: "nav-links")%>
      </div>
      <div>
        <p>Copyright 2020. All rights reserved</p>
      </div>
      <div class="d-flex a-items-center j-content-evenly">
        <p>Find me in</p> 
        <i class="fab fa-facebook-square social-icon"></i>
        <i class="fab fa-github-square social-icon"></i>
        <i class="fab fa-linkedin social-icon"></i>
      </div>
    </footer>

  </body>
</html>
